/* PRÉSENTATION */
.presentation {
  font-size: 1.1rem;
  text-align: center;
}

.presentation h2{
  font-size: 1.5rem;
}

/* IMFPA */
.imfpa {
  font-size: 1.1rem;
  text-align: center;
}

.imfpa h2 {
  font-size: 1.5rem;
}

.horaires {
  font-size: 1.3rem;
}

.reseauximfpa, .reseauximfpa-facebook {
  font-size: 2rem;
  color: #0a66c2;
  padding-top: 0.75rem;
}

.reseauximfpa-facebook {
  color: #1877f2;
}
